# Dev environment
pip
autopep8

pip install -U langchain langchain-core langchain-google-genai

# Core App
langchain
langchain-core
langchain-google-genai
typer
SQLAlchemy
rich
logfire>=1.0,<2.0
python-dotenv>=1.0,<2.0
psycopg2-binary>=2.9,<3.0
tabulate

pre_commit

# Testing
pytest>=7.0,<8.0
